server/node_modules
client/node_modules
node_modules
client/.env
server/.env
client/tsconfing.json
server/package-lock.json
server/package.json
package-lock.json
package.json
client/package-lock.json
client/package.json